# macOS
.DS_Store

# Python
__pycache__/
*.pyc
.venv/
.ipynb_checkpoints/

# Editors
.vscode/
.idea/

# Local secrets
.env

# Data: full StatCan downloads (~50 MB, re-created by extract_statcan.py)

# Census table metadata lists every geography in Canada (~7 MB each); re-created by the script

